{
    ApplicationDescription = "SWK Browser";
    ApplicationName = Vespucci;
    ApplicationRelease = 0.1;
    Authors = (
	"Nikolaus Schaller"
    );
    Copyright = "Copyright (C) 2007";
    CopyrightDescription = "Released under GPL v2";
    FullVersionID = 0.1;
    NSExecutable = SWKBrowser;
    NSMainNibFile = MainMenu.nib;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = MyDocument;
	    NSHumanReadableName = HTML;
	    NSIcon = "";
	    NSName = HTML;
	    NSRole = Editor;
	    NSUnixExtensions = (
		"htm",
		"html"
	    );
	}
    );
}
