<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>DOMHTMLAnchorElement</string>
	<key>abbr</key>
	<string>DOMHTMLElement</string>
	<key>acronym</key>
	<string>DOMHTMLElement</string>
	<key>address</key>
	<string>DOMHTMLElement</string>
	<key>applet</key>
	<string>DOMHTMLObjectElement</string>
	<key>area</key>
	<string>DOMHTMLElement</string>
	<key>b</key>
	<string>DOMHTMLElement</string>
	<key>base</key>
	<string>DOMHTMLElement</string>
	<key>bdo</key>
	<string>?</string>
	<key>big</key>
	<string>DOMHTMLElement</string>
	<key>blockquote</key>
	<string>DOMHTMLCenterElement</string>
	<key>body</key>
	<string>DOMHTMLBodyElement</string>
	<key>br</key>
	<string>DOMHTMLBRElement</string>
	<key>button</key>
	<string>DOMHTMLButtonElement</string>
	<key>canvas</key>
	<string>DOMHTMLCanvasElement</string>
	<key>caption</key>
	<string>?</string>
	<key>center</key>
	<string>DOMHTMLCenterElement</string>
	<key>cite</key>
	<string>DOMHTMLElement</string>
	<key>code</key>
	<string>DOMHTMLElement</string>
	<key>col</key>
	<string>?</string>
	<key>colgroup</key>
	<string>?</string>
	<key>dd</key>
	<string>DOMHTMLDLIElement</string>
	<key>div</key>
	<string>DOMHTMLDivElement</string>
	<key>dl</key>
	<string>DOMHTMLDListElement</string>
	<key>dt</key>
	<string>DOMHTMLDLIElement</string>
	<key>em</key>
	<string>DOMHTMLElement</string>
	<key>font</key>
	<string>DOMHTMLFontElement</string>
	<key>form</key>
	<string>DOMHTMLFormElement</string>
	<key>frame</key>
	<string>DOMHTMLFrameElement</string>
	<key>frameset</key>
	<string>DOMHTMLFrameSetElement</string>
	<key>h1</key>
	<string>DOMHTMLHeadingElement</string>
	<key>h2</key>
	<string>DOMHTMLHeadingElement</string>
	<key>h3</key>
	<string>DOMHTMLHeadingElement</string>
	<key>h4</key>
	<string>DOMHTMLHeadingElement</string>
	<key>h5</key>
	<string>DOMHTMLHeadingElement</string>
	<key>h6</key>
	<string>DOMHTMLHeadingElement</string>
	<key>head</key>
	<string>DOMHTMLHeadElement</string>
	<key>hr</key>
	<string>DOMHTMLHRElement</string>
	<key>html</key>
	<string>DOMHTMLHtmlElement</string>
	<key>i</key>
	<string>DOMHTMLElement</string>
	<key>iframe</key>
	<string>DOMHTMLIFrameElement</string>
	<key>img</key>
	<string>DOMHTMLImageElement</string>
	<key>input</key>
	<string>DOMHTMLInputElement</string>
	<key>kbd</key>
	<string>DOMHTMLElement</string>
	<key>label</key>
	<string>DOMHTMLLabelElement</string>
	<key>legend</key>
	<string>DOMHTMLElement</string>
	<key>li</key>
	<string>DOMHTMLLIElement</string>
	<key>link</key>
	<string>DOMHTMLLinkElement</string>
	<key>map</key>
	<string>DOMHTMLElement</string>
	<key>meta</key>
	<string>DOMHTMLMetaElement</string>
	<key>nobr</key>
	<string>DOMHTMLElement</string>
	<key>noframes</key>
	<string>DOMHTMLNoFramesElement</string>
	<key>noscript</key>
	<string>DOMHTMLElement</string>
	<key>object</key>
	<string>DOMHTMLObjectElement</string>
	<key>ol</key>
	<string>DOMHTMLOListElement</string>
	<key>optgroup</key>
	<string>DOMHTMLOptGroupElement</string>
	<key>option</key>
	<string>DOMHTMLOptionElement</string>
	<key>p</key>
	<string>DOMHTMLParagraphElement</string>
	<key>param</key>
	<string>DOMHTMLParamElement</string>
	<key>pre</key>
	<string>DOMHTMLPreElement</string>
	<key>s</key>
	<string>DOMHTMLElement</string>
	<key>samp</key>
	<string>DOMHTMLElement</string>
	<key>script</key>
	<string>DOMHTMLScriptElement</string>
	<key>select</key>
	<string>DOMHTMLSelectElement</string>
	<key>small</key>
	<string>DOMHTMLElement</string>
	<key>span</key>
	<string>DOMHTMLSpanElement</string>
	<key>strike</key>
	<string>DOMHTMLElement</string>
	<key>strong</key>
	<string>DOMHTMLElement</string>
	<key>style</key>
	<string>DOMHTMLStyleElement</string>
	<key>sub</key>
	<string>DOMHTMLElement</string>
	<key>sup</key>
	<string>DOMHTMLElement</string>
	<key>table</key>
	<string>DOMHTMLTableElement</string>
	<key>tbody</key>
	<string>DOMHTMLTBodyElement</string>
	<key>td</key>
	<string>DOMHTMLTableCellElement</string>
	<key>textarea</key>
	<string>DOMHTMLTextAreaElement</string>
	<key>tfoot</key>
	<string>DOMHTMLElement</string>
	<key>th</key>
	<string>DOMHTMLTableCellElement</string>
	<key>thead</key>
	<string>DOMHTMLElement</string>
	<key>title</key>
	<string>DOMHTMLTitleElement</string>
	<key>tr</key>
	<string>DOMHTMLTableRowElement</string>
	<key>tt</key>
	<string>DOMHTMLElement</string>
	<key>u</key>
	<string>DOMHTMLElement</string>
	<key>ul</key>
	<string>DOMHTMLUListElement</string>
	<key>var</key>
	<string>DOMHTMLElement</string>
</dict>
</plist>
